@using Services.CustomModels
@model ProductModel

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Product</h1>
<div class="col-md-5">
    <form id="form" asp-action="Save" asp-controller="Product">

        <div>
            <div>@Html.DisplayName("Product name")</div>
            <input class="form-control" type="text" name="name" id="productName" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            <div>@Html.DisplayName("Product description")</div>
            <input class="form-control" type="text" name="description" id="productDescription" />
        </div>
        
        <div>
            <div>@Html.DisplayName("Product price")</div>
            <input class="form-control" type="text" name="productPrice" id="productPrice" />
        </div>
       
        <div>
            <div>@Html.DisplayName("Product quantity")</div>
            <input class="form-control" type="text" name="currentQuantity" id="currentQuantity" />
        </div>
        
        <div>
            <div>@Html.DisplayName("Product pictures")</div>
            <input class="form-control" type="file" name="files" multiple id="files" />
        </div>
        <input id="save" type="submit" name="Save" />

    </form>

</div>